DATABASE_HOST = "localhost"
DATABASE_USER = "{{ mysql_users[0].name }}"
DATABASE_PASSWORD = "{{ mysql_users[0].password }}"
DATABASE_NAME = "{{ mysql_databases[0].name }}"
DATABASE_MIGRATIONS_DIR= "{{ crawler_migrations_dir }}"