DATABASE_HOST = "localhost"
DATABASE_USER = "{{ mariadb_users[0].name }}"
DATABASE_PASSWORD = "{{ mariadb_users[0].password }}"
DATABASE_NAME = "{{ mariadb_databases[0].name }}"
DATABASE_MIGRATIONS_DIR= "{{ crawler_migrations_dir }}"